<div class="title__local" id="title__local">
  {{ node.title.value }}
</div>

<div class="owl-carousel owl-theme">
  {% for item in content.field_image_location['#items'] %}
    {% set image_url = file_url(item.entity.uri.value) %}
    <div class="owl__field-item">
      <img class="owl__image" src="{{ image_url }}">
      {# <div class="image-caption">{{ item.alt }}</div> #}
    </div>
  {% endfor %}
</div>

{% if user.isAnonymous == FALSE %}
  <div class="group-rating" id="group-rating">
    {# {{ content.field_rating }} #}
  
    {{ content.vote_vote_field }}
  
  </div>
  {% else %}
    <div class="not__logedin_rating" id="not__logedin_rating">
      <a href="/{{language_node}}/user/login">{{"Login to vote"|t}}</a>
    </div>
{% endif %}

<div class="phone__group">

  <div class="whatsapp__ico">
    <img class="whatsapp__link" src="{{ file_url('themes/custom/yes_pet_app/images/whatsappIconmini.png') }}">
  </div>

  {{ content.field_phone }}

  {{content.field_ph}}


</div>

<div class="location__description">
  {{ content.body }}
</div>

{{ content.field_complete_address }}

{{ content.field_comments }}
