<div class="owl-carousel owl-theme">
  {% for item in content.field_image_location['#items'] %}
    {% set image_url = file_url(item.entity.uri.value) %}
    <div class="owl__field-item">
      <img class="owl__image" src="{{ image_url }}">
      {# <div class="image-caption">{{ item.alt }}</div> #}
    </div>
  {% endfor %}
</div>

{{ content.body }}

{{ content.field_complete_address }}

<div class="group-rating" id="group-rating">
  {{ content.field_rating }}
  {{ content.field_vote_up_and_field }}
</div>

{{ content.field_comments }}
