{#
/**
 * @file
 * Olivero's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the first sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.social: Items for the social region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div id="page-wrapper" class="page-wrapper">
  <div id="page">
    {% if page.header or page.primary_menu or page.secondary_menu %}
      <header id="header" class="site-header" data-drupal-selector="site-header" role="banner">

        {# Gets fixed by JavaScript at wide widths. #}
        <div class="site-header__fixable" data-drupal-selector="site-header-fixable">
 
          {# Needs to extend full width so box shadow will also extend. #}
          <div id="site-header__inner" class="site-header__inner" data-drupal-selector="site-header-inner">
            <div class="container site-header__inner__container">

              <button class="btn-hamburger btn-toggle-menu" aria-label="Menu Hamburger">

                {#<img id="menu-icon" src="{{ file_url('themes/custom/yes_pet_app/images/icons/hamburger-light.svg') }}" alt="menu">#}
                <span class="material-symbols-outlined">
                  menu
                </span>
              </button>

              <nav class="navDropown">
                <ul>
                  <li class="dropdown">
                    <a class="material-symbols-outlined text__deco_none">
                      language
                    </a>
                    <ul class="dropdown-menu">
                      <div class="selectLanguage">{{ 'Select an language'|t }}</div>
                      <li>
                        <img class="langImg" langcode="pt-br" src="{{ file_url('themes/custom/yes_pet_app/images/pt-br.svg') }}">
                        <a class="text__deco_none" langcode="pt-br" href="">{{ 'Portuguese'|t }}</a>
                      </li>
                      <li>
                        <img class="langImg" langcode="en-us" src="{{ file_url('themes/custom/yes_pet_app/images/en-us.svg') }}">
                        <a class="text__deco_none" langcode="en-us" href="">{{ 'English'|t }}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>

              <div class="reader__logo">
                <a href="/">
                  <img id="logo-icon" src="{{ file_url('themes/custom/yes_pet_app/images/logo.png') }}" alt="Logo">
                </a>
              </div>

              {{ page.header }}
              
              <div class="search__icon">
              <span class="material-symbols-outlined">
                search
              </span>
                {#<img id="search-icon" src="{{ file_url('themes/custom/yes_pet_app/images/icons/search-light.svg') }}" alt="search-icon">#}
              </div>

              <div class="dark__theme">
              <span class="material-symbols-outlined">
                light_mode
              </span>
                {#<img id="theme-icon" src="{{ file_url('themes/custom/yes_pet_app/images/icons/light-theme.svg') }}" alt="dark-icon">#}
              </div>       

              {% if page.primary_menu or page.secondary_menu %}
                <div class="mobile-buttons" data-drupal-selector="mobile-buttons">
                  {# <button class="mobile-nav-button" data-drupal-selector="mobile-nav-button" aria-label="{{ 'Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
                    <span class="mobile-nav-button__label">{{ 'Menu'|t }}</span>
                  </button> #}

                  <div id="header-nav" class="header-nav" data-drupal-selector="header-nav">
                  <div class="close__mobile_div">
                    <div class="close__mobile_menu">
                      <span class="material-symbols-outlined">
                        close
                      </span>
                    </div>
                  </div>
                    {{ page.primary_menu }}
                    {{ page.secondary_menu }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </header>
    {% endif %}

    <div id="main-wrapper" class="layout-main-wrapper layout-container">
    {# Only on homepage (react js that gets all near location and create range button)  #}
    {% if is_front %}
      <div class="my-container-class">
        <h5 class="home-title">{{ 'Find places that Pets are welcome!'|t }}</h5>
        <div class="intro-container" id="content-main-react"></div>
      </div>
    {% endif %}

      <div id="main" class="layout-main">
        <div class="main-content">
          {{ page.hero }}
          <div class="main-content__container container">
            {{ page.highlighted }}
            {{ page.breadcrumb }}

            {% if page.sidebar %}
              <div class="sidebar-grid grid-full">
                <main role="main" class="site-main">
                  {{ page.content_above }}
                  {{ page.content }}
                </main>

                {{ page.sidebar }}
              </div>
            {% else %}
              <main role="main">
                {{ page.content_above }}
                {{ page.content }}
              </main>
            {% endif %}
            {{ page.content_below }}
          </div>
        </div>
        <div class="social-bar">
          {{ page.social }}
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="site-footer__inner container">
        {{ page.footer_top }}
        {{ page.footer_bottom }}
      </div>
    </footer>

    <div class="overlay" data-drupal-selector="overlay"></div>

  </div>
</div>
